article h1 {
  text-decoration: underline;
}

article p:first-of-type::first-letter {
  font-size: 3em;
  font-family: 'Times New Roman', serif;
  color: #E65C00;
  line-height: 1;
  padding-right: 0.25em;
}

article .italic-highlight {
  background-color: yellow;
  color: black;
  padding: 0 .25em;
  font-style: italic;
}

#not-so-hidden-message {
  margin-top: 5em;
}

#not-so-hidden-message p {
  border: dashed 0.3125em greenyellow;
  padding: 2em;
  margin: 0;
}

#not-so-hidden-message img {
  display: block;
  margin-top: 1em;
  width: 100%;
  max-width: 25em;
  min-width: 10em;
  margin-left: auto;
}