#apa-table {
  margin: 0 auto;
  background: #390099;
  color: #FFFFFF;
  overflow: auto;
  display: block;
  max-width: 100%;
  width: fit-content;
  border-collapse: collapse;
  border-spacing: 0;
}

#apa-table thead {
  background: #930053;
  color: #FFA500;
  font-weight: bold;
  text-transform: uppercase;
}

#apa-table th,
td {
  border: 2px solid #930053;
  text-align: center;
  padding: 0.65em;
}

#apa-table td ul {
  padding: 1em 2em;
  text-align: left;
  list-style-type: "-  ";
  margin: 0;
}

main img {
  max-width: 100%;
  min-width: 20em;
}