#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: last baseline;
  gap: 1em;
}

#gallery .gallery-item {
  display: flex;
  flex-direction: column;
}

#gallery .gallery-item span {
  text-align: center;
  color: green;
  text-transform: uppercase;
  background: black;
  padding: .25em 0;
}

#gallery .gallery-item img {
  width: 100%;
  max-width: 20em;
}

@media screen and (max-width: 700px) {
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}